{% extends 'services/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-2 placeholder">
            <a>
                <img src="{%static 'services/home.png' %}" width="100" height="100" class="img-responsive"
                    alt="Generic placeholder thumbnail">
                <h4>Todos</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
            <a>
                <img src="{%static 'services/clean.png' %}" width="100" height="100" class="img-responsive"
                    alt="Generic placeholder thumbnail">
                <h4>Limpeza</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
            <a>
                <img src="{%static 'services/tools.png' %}" width="100" height="100" class="img-responsive"
                    alt="Generic placeholder thumbnail">
                <h4>Manutenção</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
            <a>
                <img src="{%static 'services/gardening.jpg' %}" width="100" height="100" class="img-responsive"
                    alt="Generic placeholder thumbnail">
                <h4>Jardinagem</h4>
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
            <a>
            <img src="{%static 'services/pool.png' %}" width="100" height="100" class="img-responsive"
                alt="Generic placeholder thumbnail">
            <h4>Piscina</h4>
            </a>
        </div>
    </div>

    <h2 class="sub-header">Requisições</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr style="background-color: rgba(0,0,0,0.5) !important;">
                    <th>ID</th>
                    <th>Requisição</th>
                    <th>Local</th>
                    <th>Setor</th>
                    <th>Agenda</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for service in service_list %}
                <tr style="background-color: rgba(0,0,0,0.5) !important;">
                    <td>{{ service.id }}</td>
                    <td>{{ service.justification }}</td>
                    <td>{{ service.place }}</td>
                    <td>{{ service.get_department }}</td>
                    <td>{{ service.date }}</td>
                    <td>{{ service.get_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}